name: Integration test
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  shellcheck:
    name: Shell check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install shellcheck
        env:
          DEBIAN_FRONTEND: noninteractive
        run: sudo apt install -y shellcheck
      - name: shellcheck
        run: |
          shellcheck -s bash --exclude=SC2181 --exclude=SC2230 --exclude=SC2086 scripts/start.sh
          shellcheck -s bash --exclude=SC2181 --exclude=SC2230 --exclude=SC2086 --exclude=SC2001 scripts/wrapper.sh
          shellcheck -s bash --exclude=SC2181 --exclude=SC2230 scripts/azdump.sh
          shellcheck -s bash --exclude=SC2181 --exclude=SC2230 --exclude=SC2086 scripts/pgdump.sh

  build:
    if: (!contains(github.event.head_commit.message, 'skip ci')) && github.event.pull_request.draft == false

    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
       distro: [ fedora, opensuse, ubuntu ]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        run: |
          cp vnclouddump-${{matrix.distro}}/Dockerfile .
          docker build ${{github.workspace}}
          
